// For ant design
:root {
  --bgt-primary-color: #0e6b4f;
  --bgt-warning-color: #ff6b00;
  --bgt-light-color: #f3f4f6;
  --bgt-white-color: #fff;
  --bgt-dark-color: #000000;
  --bgt-info-color: rgb(5, 76, 184);

  --bgt-font-family: 'Inter', sans-serif;
}
